<div class="crypt-attribute-bar">
  <progress value={{this.value}} max={{this.max}}></progress>
  <input
    class="attribute-value left"
    type="text"
    value={{this.value}}
    placeholder={{this.valuePlaceholder}}
    name={{this.valueName}}
  />
  <span class="slash">/</span>
  <input
    class="attribute-value right"
    type="text"
    value={{this.max}}
    placeholder={{this.maxPlaceholder}}
    name={{this.maxName}}
  />
</div>